.item {
    border: 1px solid black;
    border-radius: 25px;
    padding: 16px;
    cursor: pointer;
    background-color: #fff5ee;
    margin-bottom: 10px;
}

.item-title {
    font-size: 25px;
}

.item-price {
    font-size: 20px;
}

.item-img {
    width: 25%;
}