#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px dotted black;
  padding: 25px;
  border-radius: 10px;
  background-color: #faf0e6;
}

.add-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #d8b8a8;
}

.order-details {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: auto;
  background-color: #f4cbb7;
}

.drinks-items, .food-items {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  margin: 15px;
}